body {
    display: flex;
    flex-direction: row;
}

#newForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 1fr;
    padding: 10px;
}

input{
    margin: 10px;
}

label {
    text-align: center;
}

#cardArea {
    width: 2fr;
    border: 2px, solid, black;
    overflow: auto;
    
}

.coverPic {
    width: 100px;
    height: 100px
    
}

.card {
    min-height: 200px;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    background-color: gray;
    margin: 15px;
    margin-left: 30px;
}


.info{
    justify-self: flex-start;
}

.icon {
    width: 20px;
    height: 20px;
    justify-self:;
    margin-left: 100px;

}

#cardInfo {
    display: flex;
    flex-direction: column;
}

.played {

}

.notPlayed{

}